Downloads/
Documents/
Desktop/
Pictures/
.mozilla/
.local/
.mplayer
Music/
.npm/
.npmrc
.nvm/
.pki
Templates/
.tree-sitter/
.vscode-oss/
.w3m/
.yarn/
facebookFull-linux-x64/
Facebook_mobile-linux-x64/
Puplic/
Videos/
vimwiki/
.Xauthority
.xinitrc
.xprofile
.xsession-errors
.xsession-errors.old
.zcompdump-AhhpCS-5.8
.cache/
.gnupg/
.ctags

