configstore/
dconf/
dunst/
facebookfull-nativefier-d58ff9/
facebook-mobile-nativefier-202931/
fontconfig/
gnome-player/
gsimplecal/
htop/
jgmenu/
Mousepad/
.mpv/
nvim/
nvim-qt/
pamac/
pulse/
qBittorrent/
ranger/
smplayer/
sxiv/
tint2/
VSCodium/
volumeicon/
xfce4/
mimeapps.list
Qtproject.conf
user-dirs.dirs
user-dirs.locale